/*#titlebar {
	border: solid;
	color: black;
	width: 798px;
	margin: 0 auto;
	height: 53px;
	background-color: #FFB4B0;
}*/
p {
	color: red;
}

button .genreButton {
	width: 62px;
	height: 18px;
	background-color: red;

}

h5 {
	text-align: center;
}

/* -------Classes-------------- */

.wrapper {
	max-width: 960px;
	max-height: 660px;
/*	border: dotted;
*/	margin-top: 40px;
	position: relative;
}

/*// container for lower two elements*/
.lowerBox {
	width: 80%;
	/*margin-top: 8px;*/
	margin: 8px 0 0 10%;
	display: inline-block;
	position: absolute;
	border: 1px dotted;
/*	border: dotted;
*/}

/* Left side bar to select... */
.selector {
	border: solid;
	color: black;
	width: 26%;
/*	margin-left: 54px;*/
	height: 372px;
	/*display: inline-block;*/
	float: left;
	background-color: #4DD7FA;
}

.radiogroup {
	display: inline-block;
	width: auto;
    height: auto;
    background-color: red;


}



.genreButton {
	display: block;
	width: 62px;
	height: 18px;
}


/* Right side box outputting song list, etc..... */
.hero {
	border: solid;
	color: black;
	width: 70%;
	margin-left: 10px;
	/*display: inline-block;*/
	float: left;
	background-color: #FEFAC0;
}

.songInfo {
	width: 100%;
	text-align: left;
	/*border: 2px solid red;*/
}

.songTitles {
	list-style-type: none;
	display: inline-block;
	border-right: 2px solid;
	padding-right: 6px;
/*	margin: 0 3px;;*/
}

.albumSel {
	font-size: .8em;
}

.artistSel {
	font-size: .8em;
}

/* ----------Items---------- */

header {
	border: solid;
	color: black;
	width: 80%;
	margin: 0 auto;
	height: 53px;
	background-color: #FFB4B0;
}

li {
	list-style-type: none;
	display: inline-block;
	border-right: 2px solid;
	padding-right: 6px;
/*	margin: 0 3px;;*/
}



main {

}

aside {

}
